.p1-c {
    padding-bottom: 3rem;
}

.p1-t {
    background-color: #3d3d3d;
    font-weight: bold;
    font-style: oblique;
}

.bold {
    font-weight:bold;
}

#login-card {
    width:100%;
}

.dash ul{
    list-style-type: none;
}

.dash li:before{
    content: "-";
    padding-right: 7px;
}